.navbar{
    box-shadow: 2px 2px 5px  #000000;
    opacity: .8;
    min-height: 10vh;
}


.navbar .nav-item .nav-link{
    color: #fff;
}

.main-header{
    background: url("./icons/map-backgound.png");
    background-size: cover;
    min-height: 90vh;
}

h1{
    color: rgba(0, 99, 140, 0.7);
}

h5{
    color: rgba(0, 99, 140, 0.7);
}