#login{

    text-align: center;


}

#login .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

form{
    margin-top: 8%;
}
