{%extends "layout.html"%}

{%block title%}
    Login
{%endblock%}


{%block custom_css%}
    <link rel="stylesheet" href="/static/loginEndSignin.css">
{%endblock%}

{% block main %}

<div class="card bg-light mb-3 mx-auto mt-4" style="max-width: 18rem;">
    <div class="card-header mx-auto">iniciar sesión</div>
        <div class="card-body">
            <form id="login" action="/login" method="POST">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="nombre de usuario" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="contraseña" type="password"/>
                </div>
                <div>
                    <button id="login_btn" class="btn btn-primary" type="submit">entrar</button>
                </div>
                <p class="mt-4 text-sm"><a href="/changepassword">¿Olvidaste tu contraseña?</a></p>
                <p class="text-sm"><a href="/signin">¿no tienes una cuenta?</a></p>
            </form>
        </div>
</div>

{% endblock %}
